*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.stage {
	list-style: none;
	padding: 0;
}
.container-style {
	border: 1px solid darkgrey; 
	border-radius: 2px; 
	box-shadow: 0px 0px 40px 0px lightgrey;
}
.menu-style {
	border: 1px solid darkgrey; 
	border-radius: 2px; 
	box-shadow: 2px 2px 10px 2px lightgrey;
}
.menu-pill {
	border-left: none; 
	border-top: none; 
	border-radius: 0px 0px 2px 2px;
	border-bottom: 1px; 
	border-radius: none; 
	box-shadow: 1px 1px 3px 0px lightgrey;
}
.menu-pill:hover {
	transform: scale(1.1, 1.1);
	background: #007bff;
	color: #fff;
	font-weight: 400;
}
.menu-pill:active {
	border: none;
}
.notify-badge{
    position: absolute;
    right: 5px;
    background:rgba(102, 179, 241, 0.945);
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color:rgb(255, 255, 255);
    padding: 0px 10px;
    font-size:12px;
    font-weight: 500;
}
div.picture .notify-badge{
	top: 20px;
    opacity: .8;
}
div.info .notify-badge{
	top: 77px;
    opacity: 1;
}
div.info a:link {
    color:rgb(255, 255, 255);
}
div.info a:visited {
    color:rgb(193, 221, 248);
}
div.info a:hover {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
/*************************************
Scroll bar Configuration
**************************************/
/* width */
.info::-webkit-scrollbar {
    width: 7px;
  }
  /* Handle */
  .info::-webkit-scrollbar-thumb {
    background: rgb(59, 108, 243); 
    border-radius: 5px;
  }
  /* Handle on hover */
  .info::-webkit-scrollbar-thumb:hover {
    background: #0a1c57; 
  }
/*************************************
Build the scene and rotate on hover
**************************************/
.post {
	width: 260px;
	height: 275px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
    perspective: 1000px;
}
.item {
	width: 260px;
    height: 275px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 550ms;
	-moz-transition: -moz-transform 550ms;
	transition: transform 550ms;
}
.item:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.item .picture, 
.item .info {
	position: absolute;
	width: 260px;
    height: 275px;
    border-radius: 8px;
    overflow: scroll;
    background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.item .picture  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.item .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
    transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .item::after {
	content: '';
	width: 240px;
	height: 275px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .item:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Item information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 600;
    color: #666;
    margin-top: 5px;
	line-height: 1.4em;
    border-top: 10px solid #555;
    word-wrap: break-word;
}
/*************************************
Generate "lighting" using box shadows
**************************************/
.item .picture,
.item .info,
.item .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .item .picture {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .item:hover .picture {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .item .info, 
.csstransforms3d .item .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .item:hover .info, 
.csstransforms3d .item:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .item .picture, 
.no-csstransforms3d .item .info {
	position: relative;
}